<div class="button-group">
  <app-back-button (clicked)="onBack()"></app-back-button>
</div>
<div class="horizontal-line"></div>

<div class="statistics-home-container">
    <div class="header-container">
      <h1>ESTADÍSTICAS</h1>
    </div>
    
    <div class="content-container">
      <app-statistics-table 
        [statistics]="statistics" 
        [currentPage]="currentPage"
        [pageSize]="pageSize"
        (previousPage)="onPreviousPage()"
        (nextPage)="onNextPage()">
      </app-statistics-table>
    </div>
  </div>