@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.horizontal-line {
  border-top: 2px solid #ccc;
  margin: 16px 0;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  margin-top: 24px;
  margin-right: 40px;
}

.form-actions button {
  background-color: #353895 !important;
  color: white !important;
  font-family: 'Poppins', sans-serif;
}

.consultation-page-container {
  font-family: 'Poppins', sans-serif;
}

.header-container h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  color: #03067B;
  margin: 0;
  font-weight: 600;
}

.header-container p {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  margin-top: 4px;
}
