<div class="home-container">
  <div class="home-title">
    <h2>CONSULTAS</h2>
  </div>
  <div class="cards-row">
    <!-- Card Alumnos -->
    <div class="home-card">
      <h2>Alumnos</h2>
      <div class="card-image-container">
        <img src="/alumnos.png" alt="Alumnos" width="270" height="221" />
      </div>
      <div class="icons-row">
        <div class="icon-container">
          <img src="/file-heart-02.png" alt="Icono 1" width="40" height="40" />
        </div>
        <div class="icon-container">
          <img src="/activity-heart.png" alt="Icono 2" width="40" height="40" />
        </div>
        <div class="icon-container">
          <img src="/activity.png" alt="Icono 3" width="40" height="40" />
        </div>
      </div>
    </div>
    <!-- Card Personal UP -->
    <div class="home-card">
      <h2>Personal UP</h2>
      <div class="card-image-container">
        <img src="/personal.png" alt="Personal UP" width="270" height="221" />
      </div>
      <div class="icons-row">
        <div class="icon-container">
          <img src="/file-heart-02.png" alt="Icono 1" width="40" height="40" />
        </div>
        <div class="icon-container">
          <img src="/activity-heart.png" alt="Icono 2" width="40" height="40" />
        </div>
        <div class="icon-container">
          <img src="/activity.png" alt="Icono 3" width="40" height="40" />
        </div>
      </div>
    </div>
    <!-- Card Personal Externo -->
    <div class="home-card">
      <h2>Personal Externo</h2>
      <div class="card-image-container">
        <img src="/externo.png" alt="Personal Externo" width="270" height="221" />
      </div>
      <div class="icons-row">
        <div class="icon-container">
          <img src="/file-heart-02.png" alt="Icono 1" width="40" height="40" />
        </div>
        <div class="icon-container">
          <img src="/activity-heart.png" alt="Icono 2" width="40" height="40" />
        </div>
        <div class="icon-container">
          <img src="/activity.png" alt="Icono 3" width="40" height="40" />
        </div>
      </div>
    </div>
  </div>
</div>