.datepicker-field {
    width: 100%;
    height: 95px; 
    
    .mat-form-field-wrapper {
      height: 100%;
      padding-bottom: 0; 
    }
  
    .mat-form-field-flex {
      height: 100%;
      display: flex;
      align-items: center; 
    }
  
    input.mat-input-element {
      height: 100%;
      padding: 0 0.5rem;
      font-family: 'Poppins', sans-serif;
      box-sizing: border-box;
    }
  
    .mat-datepicker-toggle {
      height: 100%;
      display: flex;
      align-items: center; 
    }
  
    .mat-form-field-invalid {
      .mat-form-field-wrapper {
        border-color: red !important;
      }
    }
  }
  
  .field-item {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    height: 56px; 
  }
  