<div class="confirmation-dialog">
  <div class="dialog-content">
    <div class="left-section">
      <div class="icon-container">
        <img *ngIf="data.image" [src]="data.image" alt="icono" class="custom-icon-image" />
        <svg *ngIf="!data.image" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path fill="currentColor" d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10s10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8s8 3.59 8 8s-3.59 8-8 8zm-1-13h2v6h-2zm0 8h2v2h-2z"/>
        </svg>
      </div>
      <div class="text-section">
        <h2>{{ data.title }}</h2>
        <span class="message">{{ data.message }}</span>
      </div>
    </div>
    <div class="dialog-actions">
      <button mat-button class="close-button" (click)="onClose()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
</div>