<div class="sidebar-container" (click)="!isExpanded && onCloseSidenav()" (click)="isExpanded && onCloseSidenav()">
  <div class="sidebar-header">
    <div class="sidebar-header">
      <div class="logo-container">
        <img src="logo.png" alt="SMUP Logo" class="logo" [ngStyle]="{'height': isExpanded ? '80px' : '50px', 'width': isExpanded ? '80px' : '50px'}">
      </div>
    </div>
  </div>
  
  <div class="sidebar-content">
    <!-- Menú principal -->
    <mat-nav-list>
      <a mat-list-item 
         [routerLink]="item.route" 
         routerLinkActive="active"
         *ngFor="let item of menuItems" 
         class="nav-item" 
         (click)="$event.stopPropagation()">
        <img *ngIf="item.iconType === 'image'" [src]="item.imgSrc" class="custom-icon" alt="{{item.name}}">
        
        <span *ngIf="isExpanded" class="nav-label">{{item.name}}</span>
      </a>
    </mat-nav-list>
    
    <!-- Espacio flexible que empuja el menú inferior al fondo -->
    <div class="flex-spacer"></div>
    
    <!-- Menú inferior para configuración -->
    <mat-nav-list>
      <a mat-list-item 
         [routerLink]="item.route" 
         routerLinkActive="active"
         *ngFor="let item of bottomMenuItems" 
         class="nav-item" 
         (click)="$event.stopPropagation()">
        <!-- Icono Material -->
        <mat-icon *ngIf="item.iconType === 'material'">{{item.icon}}</mat-icon>
        
        <!-- Imagen personalizada -->
        
        <span *ngIf="isExpanded" class="nav-label">{{item.name}}</span>
      </a>
    </mat-nav-list>
  </div>
</div>